.sign-in {
  max-width: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;

  .title {
    margin: 0;
    display: block;
    font-size: 38px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px auto;

    .MuiFormControl-root {
      margin-bottom: 20px;
    }

    input[type="password"] {
      letter-spacing: 0.3em;
    }

    .MuiFormLabel-root {
      color: #c4c4c4;
      padding-left: 10px;
    }

    .MuiFormLabel-root.Mui-focused {
      color: #00bc8c;
    }

    .MuiFormLabel-root.Mui-error {
      color: #f44336;
    }

    .MuiInput-underline:after {
      border-bottom: 2px solid #00bc8c;
    }

    .MuiInput-underline.Mui-error:after {
      border-bottom-color: #f44336;
    }

    .MuiInputBase-root {
      background-color: white;
      opacity: 0.3;
      justify-content: center;
      font-size: 18px;
      padding-left: 10px;
    }
  }

  .hint-for-registration {
    text-align: start;

    .registration-link {
      text-align: start;
      color: #00bc8c;
    }
  }

  @media (max-width: 850px) {
    margin-bottom: 50px;
  }
}
